  <div class="container" id = "rcorners1">
	<h3>О компании</h3>
    	<p>
		Торговая компания ООО "Новсыр" - один из ведущих оптовых поставщиков молочных продуктов<br> на территории Новгородской области и г. Великий Новгород.
		<br>Победитель тендеров в сфере государственных закупок.
		<br>Основным видом деятельности компании является оптовая торговля молочными продуктами, пищевыми маслами и жирами. 
	<br>
	</p>
<p align="left"> 
Режим работы: понедельник - пятница 8.00-17.00. суббота - воскресенье выходной
<br> Телефон/факс: (8162) 62-19-97 
</p>
<!-- VK Widget -->
<div id="vk_groups" class = "center"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 1, width: "220", height: "400", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 109108480);
</script>
</div> 	

