  <div class="container" id = "rcorners1">
	<h3>О компании</h3>
    	<p>
		Торговая компания ООО "Новсыр" - один из ведущих оптовых поставщиков молочных продуктов<br> на территории Новгородской области и г. Великий Новгород.
		<br>Победитель тендеров в сфере государственных закупок.
		<br>Основным видом деятельности компании является оптовая торговля молочными продуктами, пищевыми маслами и жирами. 
	<br>
	</p>
<p align="left"> 
Режим работы: понедельник - пятница 8.00-17.00. суббота - воскресенье выходной
<br> Осуществляем доставку в пределах города.
</p>
</div> 	

